/* Order: @import, :root, *, Elements, Classes, IDs, Attributes, Selectors, Nesting Selectors, Pseudo-Elements, Pseudo-Classes, At-Rules */
/* Order: Position, Size, Shape, Color, Function */

@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wdth,wght@0,75..125,100..900;1,75..125,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&display=swap");

:root {
	--accent: #9ed;
	--primary: #def;
	--secondary: #9bf;
	--content: #000;
	--fill: #fff;

    --level-1: #f00;
    --level-2: #fc0;
    --level-3: #ff0;
    --level-4: #cf0;
    --level-5: #6f0;
    --level-6: #0c0;

	overscroll-behavior: none;
	user-select: none;
}

@media (prefers-color-scheme: dark) {
	:root {
		--primary: #36a;
		--secondary: #024;
		--content: #fff;
		--fill: #345;
	}

	button {
		color: var(--content);
	}
}

body {
	margin: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
	height: 100vh;
	accent-color: var(--accent);
	background-color: var(--fill);
}

* {
	margin: unset;
	padding: unset;
	border: unset;
	outline: unset;
	font-size: 2vh;
	font-family: Archivo, ui-sans-serif, system-ui, sans-serif;
	appearance: unset;
	text-decoration: unset;
	box-sizing: border-box;
	color: var(--content);
	scrollbar-width: none;
}

main {
	padding: 2vh 2vh 2vh 2vh;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

h1 {
	font-size: 3.5vh;
}

h2 {
	margin-bottom: 2vh;
	font-size: 3.25vh;
}

h3 {
	margin-bottom: 1vh;
	font-size: 3vh;
}

h4 {
	font-size: 2.5vh;
}

h5 {
	font-size: 2vh;
}

h6 {
	font-size: 1.5vh;
}

span {
	font-size: inherit;
}

header {
	padding: 2vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--primary);
}

nav {
	display: flex;
	gap: 1vh;
}

section {
	margin-bottom: 2vh;
	padding: 2vh;
	border-radius: 2vh;
	background-color: var(--secondary);
}

dialog {
	margin: auto;
	padding: 2vh;
	border-radius: 2vh;
	background-color: var(--secondary);
}

output {
	margin-bottom: 1vh;
	padding: 2vh;
	width: clamp(250px, 60vh, 500px);
	display: none;
	overflow-wrap: break-word;
	font-size: 1.5vh;
	font-family: Chivo Mono, ui-monospace, monospace;
	border: 2px solid var(--level-1);
	border-radius: 1vh;
	color: var(--level-1);
	background-color: color-mix(in srgb, var(--level-1) 25%, var(--fill) 100%);

	&:before {
		content: "ℹ️";
		margin-right: 1vh;
	}
}

div {
	display: flex;
	gap: 1vh;
	align-items: center;

	&:not(:last-child) {
		margin-bottom: 1vh;
	}
}

input, textarea {
	width: clamp(250px, 60vw, 500px);
	padding: 1vh;
	border-radius: 1vh;
	background-color: var(--fill);
	cursor: pointer;

	&::placeholder {
		color: color-mix(in srgb, var(--content) 25%, var(--fill) 75%)
	}
}

input[type="range"]:hover {
	background-color: var(--fill);
}

textarea {
	resize: vertical;
}

.button {
	padding: 1vh;
	border-radius: 1vh;
	font-family: Chivo Mono, ui-monospace, monospace;
	font-weight: bold;
	font-variant-ligatures: none;
	background-color: var(--accent);
	cursor: pointer;
}

.close {
	padding: initial;
	font-family: initial;
	color: var(--fill);
	background-color: initial;
	border-radius: initial;
}

.no-margin {
	margin: unset !important;
}

.logo {
	margin-right: 1vh;
	height: 3.5vh;
}

.flex-column {
	flex-direction: column;
}

.align-start {
	align-items: flex-start;
}

#happiness_scale_number {
	padding: 0.5vh;
	display: flex;
	border-radius: 2vh;
	font-family: Chivo Mono, ui-monospace, monospace;
	background-color: var(--accent);
}

::backdrop {
	background-color: #0003;
}

@media screen and (min-width: 600px) {
	button:hover {
		background-color: color-mix(in srgb, var(--accent) 90%, var(--content) 10%);
	}

	input:hover, textarea:hover {
		background-color: color-mix(in srgb, var(--fill) 60%, var(--secondary) 40%);
	}

	.name {
		display: none;
	}
}