/* Order: @import, :root, *, Elements, Classes, IDs, Attributes, Selectors, Nesting Selectors, Pseudo-Elements, Pseudo-Classes, At-Rules */
/* Order: Position, Size, Shape, Color, Function */
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wdth,wght@0,75..125,100..900;1,75..125,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&display=swap");

:root {
	font-family: Archivo, ui-sans-serif, system-ui, sans-serif;
	--accent: #9ed;
	--primary: #def;
	--secondary: #ecf;
	--content: #000;
	--fill: #fff;
	overscroll-behavior: none;
	user-select: none;
}

@media (prefers-color-scheme: dark) {
:root {
	--primary: #012;
	--secondary: #123;
	--content: #fff;
	--fill: #666;
	}
}

body {
	height: 100vh;
	accent-color: var(--accent);
	background-color: var(--fill);
}

* {
	margin: unset;
	padding: unset;
	border: unset;
	outline: unset;
	font-size: 2vh;
	text-decoration: unset;
	box-sizing: border-box;
	color: var(--content);
}

main {
	margin: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
	padding: 2vh 2vh 2vh 2vh;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	overflow: scroll;
}

h1 {
	font-size: 3.5vh;
}

h2 {
	font-size: 3.25vh;
}

h3 {
	margin-bottom: 1vh;
	font-size: 3vh;
}

h4 {
	font-size: 2.5vh;
}

h5 {
	font-size: 2vh;
}

h6 {
	font-size: 1.5vh;
}

header {
	padding: 2vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--primary);

	& img {
		margin-right: 1vh;
		height: 3.5vh;
	}
}

section {
	margin-bottom: 2vh;
	padding: 2vh;
	border-radius: 2vh;
	background-color: var(--secondary);
}

dialog {
	margin: auto;
	padding: 2vh;
	border-radius: 2vh;
	background-color: var(--secondary);
}

div {
	display: flex;
}

input {
	margin-bottom: 1vh;
	padding: 1vh;
	border-radius: 1vh;
	background-color: var(--fill);
	cursor: pointer;
}

button {
	margin-right: 1vh;
	padding: 1vh;
	border-radius: 1vh;
	background-color: var(--accent);
	cursor: pointer;
}

table {
	padding: 1vh;
	border: 1px solid var(--content);
	border-spacing: 1vh;
	border-radius: 1vh;
	background-color: var(--tertiary);
}

table:not(:last-of-type) {
	margin-right: 2vh;
}

th {
	text-align: right;
	font-weight: 400;
	font-family: Chivo Mono, ui-monospace, monospace;
}

thead th {
	font-size: 2.5vh;
	font-weight: revert;
	font-family: revert;
}

td {
	padding: 1.5vh;
	border: 1px solid var(--content);
	border-radius: 1vh;
}

@media screen and (min-width: 600px) {
	button:hover, input:hover {
		background-color: var(--fill);
	}
}