/* Order: @import, :root, *, Elements, Classes, IDs, Attributes, Selectors, Nesting Selectors, Pseudo-Elements, Pseudo-Classes, At-Rules */
/* Order: Position, Size, Shape, Color, Function */
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wdth,wght@0,75..125,100..900;1,75..125,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&display=swap");

:root {
	font-family: Archivo, ui-sans-serif, system-ui, sans-serif;
	--accent: #9ed;
	--primary: #9ed;
	--secondary: #def;
	--tertiary: #ecf;
	--content: #000;
	--fill: #fff;
	overscroll-behavior-y: none;
	user-select: none;
}

@media (prefers-color-scheme: dark) {
:root {
	--primary: #012;
	--secondary: #123;
	--tertiary: #012;
/*	--tertiary: #316;*/
	--content: #fff;
	--fill: #666;
	}
}

body {
	height: 100vh;
	accent-color: var(--accent);
	background-color: var(--secondary);
}

* {
	margin: unset;
	padding: unset;
	border: unset;
	outline: unset;
	font-size: 2vh;
	text-decoration: unset;
	box-sizing: border-box;
	color: var(--content);
}

header {
	position: fixed;
	bottom: env(safe-area-inset-bottom);
	width: 100vw;
	padding: 2vh;
	display: flex;
	justify-content: space-between;
	background-color: var(--primary);
}

nav {
	display: flex;
}

nav a {
	margin-left: 1vh;
	padding: 1vh;
	height: 100%;
	min-width: 8vh;
	border-radius: 1vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--fill);
}

main {
	margin-bottom: env(safe-area-inset-bottom);
	padding: 2vh 2vh 10vh 2vh;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	overflow: scroll;
}

h1 {
	font-size: 3.5vh;
}

h2 {
	font-size: 3.25vh;
}

h3 {
	margin-bottom: 1vh;
	font-size: 3vh;
}

h4 {
	font-size: 2.5vh;
}

h5 {
	font-size: 2vh;
}

h6 {
	font-size: 1.5vh;
}

section {
	margin-top: 2vh;
	padding: 2vh;
	border-radius: 2vh;
	background-color: var(--tertiary);
}

div {
	display: flex;
	flex-direction: column;
}

input {
	background-color: var(--fill);
	cursor: pointer;
}

input[type="email"], input[type="password"] {
	padding: 1vh;
	border-radius: 1vh;
}

@media screen and (min-width: 600px) {
	.logo h1 {
		display: initial;
	}
	
	input:hover, nav a:hover {
		background-color: var(--secondary);
	}
}
